.brand-logo img
{
  width: 180px;
}

.image-foot
{
  background-image: url(images/42c7fc6c-ada8-41fa-ac3d-df89623ca315.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60vh;
}

#search-navbar
{
  width: 30vw;
}
